# created by virtualenv automatically
# Virtual Environments

.venv/
venv/
env/

#database files
*.db
*.sqlite3

#Pycharm files
.idea/
__pycache__/
*.pyc

#installer
*.exe
*.pkg

#OS files
.DS_Store
Thumbs.db